.login
{
	margin-left:46px;
	boder:black;
	background-color:#f8f8ff;
	width:313px;
    float:left;
    border-radius:7px;
	margin-top:50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f8f8ff;
	width:417px;
	margin-left:1px;
	text-decoration: none;
	height:50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.easy
{
	margin-left:302px;
	width:130px;
}
.currentq
{
	margin-left:1px;
	boder:black;
	background-color:#E5E4E2;
	width:417px;
    float:left;
    border-radius:7px;
	margin-top:1px;
	height:423px;
}
.q
{
	margin-left:2px;
	boder:black;
	background-color:#E0FFFF;
	color:white;
	width:61px;
    float:left;
    border-radius:7px;
	margin-top:-14px;
	height:285px;
    overflow:auto;

	/*display:block;
	border: 1px solid red;
	padding:5px;
	margin-top:5px;
	width:300px;
	height:50px;*/
   
   
}
.w
{
	margin-left:11px;
	boder:black;
	background-color:#ffff1a;
	width:61px;
    float:left;
    border-radius:7px;
	margin-top:-14px;
	height:131px;
	overflow:auto;
}
.p
{
	margin-top:-35px;
	margin-left:75px;
}
.re
{
	margin-left:11px;
	boder:black;
	background-color:cyan;
	width:61px;
    float:left;
    border-radius:7px;
	margin-top:-14px;
	height:131px;
	overflow:auto;
}
.r
{
    margin-top:133px;
	margin-left:75px;
	width:60px;
	position:absulate;
}
.all
{
	margin-top:22px;
	position:absulate;
	
	
}
.count
{
	margin-left:151px;
	margin-top:2px;
}
.token
{
	margin-left:264px;
	margin-top:-20px;
}
.inputtype
{
	margin-left:157px;
	margin-top:4px;
}
.pos
{
	margin-left:157px;
	height:20px;
}
.reprint
{
	margin-left:158px;
	margin-top:-187px;
}
.g
{
	margin-left:200px;
	margin-top:-47px;
}
.error
{
	margin-left:10px;
	margin-top:10px;
}
.change
{
	margin-left:46px;
	boder:black;
	background-color:#f8f8ff;
	width:313px;
    float:left;
    border-radius:7px;
	margin-top:50px;
}
.succ
{
	margin-left:-254px;
	margin-top:0px;
	float:left;
}
.er
{
    margin-left:-246px;
	margin-top:0px;
	float:left;
}
table {
    border-collapse: collapse;
    width:800px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color:gray;
    color: white;
}
.totalapplicant
{
	margin-left:367px;
	margin-top:-40px;
	width:500px;
}
.tab
{
	margin-left:5px;
	margin-top:10px;
}
.print
{
	width:80px;
	height:44px;
	font-size:3px;
}
.btn
{
	margin-left:161px;
	margin-top:-80px;
	float:left;
	width: 200px;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
.wait
{
	margin-top:-12px;
}
.repri
{
	margin-top:-12px;
}
.rep
{
	margin-top:-16px;
}
.load
{
	margin-top:0px;
}
.button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
	height:5px;
	width:7px;
}
.coun
{
	margin-left: 18px;
}
.toku
{
	margin-left:23px;
}
.user
{
	margin-left:20px;
	float:left;
	margin-top:2px;
	width:400px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
	
}
.label
{
	margin-top:4px;
	margin-left:169px;
}
.easyq
{
	margin-left:200px;
	margin-top:88px;
	width:200px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
.visatype
{
	margin-left:2px;
	margin-top:0px;
}
.onsub
{
	margin-left:96px;
	margin-top:-36px;
	width:50px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
.token_input
{
	margin-left:46px;
	boder:black;
	background-color:#f8f8ff;
	width:313px;
    float:left;
    border-radius:7px;
	margin-top:50px;
}
.fontsize
{
	margin-left:209px;
	margin-top:20px;
}